@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db; /* gray-300 */
}

@media print {
  /* Ocultar todo lo que no sea el área de impresión (si usas una clase específica) */
  /* O simplemente limpiar los márgenes del navegador */
  
  @page {
    margin: 0;
    size: auto;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  /* Ocultar encabezados y pies de página automáticos del navegador */
  header, footer, .no-print {
    display: none !important;
  }
}
